

<form action="/login" method="post">
<article class="slds-card ">
    <div class="slds-card__body slds-card__body_inner">
        <div class="slds-form-element">
            <label class="slds-form-element__label" for="username">Form Label</label>
            <div class="slds-form-element__control">
                <input type="text" id="username" class="slds-input" placeholder="Enter email" />
            </div>
        </div>
    </div>
    <footer class="slds-card__footer">
        <button type="submit" class="slds-button slds-button_brand">Submit</button>
    </footer>
</article>

</form>
